body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    font-family: 'SequelBlack';
    margin: 0px;
    padding: 0px;
    color: white;
    font-weight: 700;
    overflow-y: hidden;
    overflow-x: hidden  ;

}

.fw {
    width: 100vw;
}

.hw {
    width: 50vw;
}

.hh {
    height: 50vh;
}

.fh {
    height: 100vh;
}

.c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;

}

.sc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#g {
    background: url('assets/b.png') no-repeat;
    background-position: center;
    background-size: 100% auto;
    opacity: 0;
    transition: 600ms;
}

#g:hover {
    opacity: 1;
}


#hBG {
    background: url(assets/bg.webp);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    /* animation: fadIn 1s forwards ; */
    transition: 1000ms;
    /* opacity: 0; */
}


@keyframes fadIn {
    0% {
        opacity: 0;
    }

    6% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#title {
    width: 50%;
    height: auto;
    z-index: 20;
    opacity: 0;
    animation: loadTitle 3s forwards;
}

@keyframes loadTitle {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

#biggity {
    transform: translateY(-200px);
    opacity: 0;
    animation: appearA 1s forwards;

}

#bottomTexx {
    font-size: 12px;
    color: rgba(154, 154, 154, 0.504);
    position: absolute;
    bottom: 0px;
    animation: appearB 1s forwards;
}

#miggity {
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 2px;
    font-family: monospace;
    color: grey;
    transition: 400ms;

}

#thempiIsgay {
    display: none;
}

#cursor {
    animation: blink .5s infinite;
    height: 3px;
    width: 13px;
    background-color: #a0a0ff;
    display: block;
    /* right: 12px; */
    margin: 4px;
    position: relative;
    bottom: -12px;
    transition: 400ms;
}

#Boogie {
    opacity: 0;
    animation: appearB 1.1s forwards;
    /* width: 300px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    background-color: #111;
    border-radius: 10px;
    padding: 24px;
    border: 1px solid white;
    transition: 400ms;
    position: relative;

}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appearA {
    0% {
        opacity: 0;
        transform: translateY(-60px)scale(1.8);
        filter: blur(12px);

    }

    100% {
        opacity: 1;
        transform: translateY(10px)scale(1);
        filter: blur(0px);

    }
}

@keyframes appearB {
    0% {
        opacity: 0;
        transform: translateY(60px) scale(1.4);
        filter: blur(12px);

    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
        filter: blur(0px);

    }
}

#gemini {
    opacity: 1;
    height: 60px;
    width: auto;

    animation: rotate 3s linear infinite;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#sliderContainer {
    margin-top: 24px;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    width: 600px;
    /* background-color: #a0a0ff; */
}

#sliderMatte {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #3c91d9, #9168C0);
    border-radius: 4px;
    transition: 400ms;
}

#skipbt {
    color: rgba(255, 255, 255, 0.386);
    position: absolute;
    right: 0px;
    z-index: 30;
    bottom: 0px;
    padding: 12px;
    cursor: pointer;
    display: flex;
    transition: 400ms;
}

#skipbt:hover {
    color: #ff0000;
}

.abs {
    position: absolute;

}

.top {
    top: 0px;
}

.right {
    right: 0px;
}

.bottom {
    bottom: 0px;
}

.left {
    left: 0px;
}

.row {

    flex-direction: row;

}

.topShelfIcons {
    color: rgba(154, 154, 154, 0.504);
    cursor: pointer;

    /* outline: 1px solid white; */
}

.topShelfIcons:hover {
    color: white;
}

.noti::after {
    content: "";
    background-color: red;
    position: absolute;
    transform: translate(-44%, -3%);
    border-radius: 2.5px;
    width: 5px;
    height: 5px;
}

#promptSignin {
    /* position: absolute; */
    /* z-index: 35; */
    text-align: center;
    /* bottom: 12px;
    right: 50%;
    transform: translate(50%, 0%); */
    padding: 12px;
    width: 100px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 400ms;
    border: 2px solid rgba(255, 255, 255, 0.452);
    border-radius: 25px;
}

#promptSignin:hover {
    background: rgb(255, 0, 0);
    color: #ffffff;
    border: 2px solid #ff0000;
}

#acc {
    width: 86vw;
    height: 90vh;
    border-radius: 12px;
    background: rgba(14, 14, 14, 0.452);
    backdrop-filter: blur(12px);
    outline: 1px solid rgba(120, 120, 120, 0.589);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#userProfileArea {
    grid-row: 1;
    height: 90%;
    grid-column: 1/2;
    flex-direction: column;
    border-right: 2px solid rgba(255, 255, 255, 0.452);
}

#userProfilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url('https://pyxis.nymag.com/v1/imgs/7f6/16e/4dc48821ff853d3019c835397cfa9c293a-25-meryl-streep.2x.rhorizontal.w710.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    margin: 12px;
    border: 1px solid rgba(255, 255, 255, 0.452);
    overflow: hidden;
}

#userProfileDetails {
    grid-row: 1;
    grid-column: 2/3;
    display: flex;
    height: 90%;
    border-left: 2px solid rgba(255, 255, 255, 0.452);
    flex-direction: column;
    padding-left: 24px;
}

.Deets {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Deets>h1 {
    font-size: 20px;
}

.sect{
    width: 100vw;height: 100vh;
}
.Deets>input {
    width: 80%;
    padding: 12px;
    /* margin: 12px; */
    border: 1px solid rgba(255, 255, 255, 0.452);
    background: rgb(14, 14, 14);
    color: white;
    border-radius: 12px;
    outline: none;
}

.Deets>input:focus {
    border: 1px solid #ff0000;
}

.Deets>input:autofill {
    background-color: blue;
}

.btn {
    font-family: 'SequelBlack';
    text-align: center;
    padding: 12px;
    width: 100px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 400ms;
    border: 2px solid rgba(255, 255, 255, 0.452);
    border-radius: 25px;
    background: none;
}

.gallery {
    position: fixed;
    width: 30vw;
    height: 20vh;
    opacity: 0%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff8f;
    color: grey;
    border-radius: 10px;
    display: none;
    backdrop-filter: blur(12px);
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 400ms;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .galleryTitle {
    position: absolute;
    left: 24px;
    font-size: 22px;
    width: 100vh;
    height: 4vh;
    /* overflow: scroll; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #gallerya {
    margin: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    width: 80%;
  }
  
  
  #gayYY{
    height:480vh;width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  #gallerya > img {
    transition: 200ms;
  }
  
  #gallerya > img:hover {
    cursor: pointer;
    scale: 1.1;
    z-index: 12;;;
  }

  #VOLTAIRmerch:hover{
    z-index: 12;
  }
#viva{
    transition: 200ms;
    cursor: pointer;
}
  #viva:hover{
    z-index: 12;

    scale: 1.1;
  }
.btn:hover {
    background: rgb(255, 0, 0);
    color: #ffffff;
    border: 2px solid #ff0000;
}


@media screen and (max-width:700px) {
    #miggity {
        display: none;
    }

    #thempiIsgay {
        font-size: 18px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 2px;
        font-family: monospace;
        color: grey;
        transition: 400ms;

    }
    #sliderContainer {
        margin-top: 24px;
        height: 8px;
        border-radius: 4px;
        overflow: hidden;
        width: 200px;
        /* background-color: #a0a0ff; */
    }
    
    #sliderMatte {
        height: 100%;
        width: 0%;
        background: linear-gradient(90deg, #3c91d9, #9168C0);
        border-radius: 4px;
        transition: 400ms;
    }
      
  #gayYY{
    height: 200vh;
    width: 100vw;
  }
#hBG{
    background-size: cover;
}
}