@font-face{
    font-family: "SequelBlack";
    src: url(Sequel100Black-45.ttf) format('truetype');

}


@font-face {
    font-family: 'DeadStock';
    src: url('Dead Stock.ttf') format('truetype');
}